@media screen and (max-width: 1040px) {
  .card{
    width: calc(100% / 4);
  }
}
@media screen and (max-width: 726px) {
  .card{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 604px) {
  #standard-logo{
    display: none;
  }
  .right{
    width: 90%;
  }
  .left{
    width: 10%;
  }
  .left-menu{
    display: none;
  }
  #hidden{
    display: block;
  }
  header .logo{
    width: 10%;
    padding-left: 0;
    justify-content: center;
  }
  #hidden-logo{
    display: block;
    width: 25px;
    
  }

}