*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img-box{
  width: 220px;
  height: 220px;
  /* debug */
  background-color: rgba(0, 255, 255, 0.438);
}

/* --------------------------Global----------------------------- */
ul li{
  list-style-type: none;
}
/* --------------------------utilities----------------------------- */
.d-flex{
  display: flex;
}
.w-calc{
  width: calc(100% / 6);
}

/* --------------------------debug */
.debug{
  /* debug */
  background-color: rgba(127, 255, 212, 0.411);
}

/* --------------------------header----------------------------- */
header{
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* debug */
  background-color: rgba(242, 255, 127, 0.411);
}
.logo{
  padding-left: 30px;
}
.logo img{
  filter: invert(1);
  width: 70%;
}
.upgrade{
  margin-right: 40px;
}

/* --------------------------main----------------------------- */
main{
  
  height: calc(100vh - 90px);
  /* debug */
  background-color: rgba(193, 127, 255, 0.411);
}
/* --------------------------left menu----------------------------- */
.left{
  
  padding-top: 100px;
  width: 20%;
  /* debug */
  background-color: rgba(0, 0, 0, 0.411);
}
 .left-menu{
  padding-left: 20px;
  height: 100%;
  overflow-y: auto;
  flex-direction: column;

  /* debug */
  /* background-color: rgba(0, 0, 0, 0.411); */
} 
.bottom-left-menu{
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.user img{
  background-color: lightgray;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

/* --------------------------right menu----------------------------- */
.right{
  overflow-y: auto;
  padding-top: 100px;
  width: 80%;
  /* debug */
  background-color: rgba(255, 127, 127, 0.411);
}
.right-menu{
  padding-left: 20px;
  height: 100%;
  /* debug */
  background-color: rgba(255, 127, 127, 0.411);
}
.right-nav ul{
  justify-content: center;
}
.right-nav ul li{
  padding: 20px;
}
/* Separate card CALC */
.card{
  width: calc(100% / 6);
  
}
/* Separate card CALC */
/* Recently Played */
.recently-list{
  flex-wrap: wrap;
}


/* --------------------------footer----------------------------- */

footer{
  z-index: 999;
  height: 90px;
  /* debug */
  background-color: rgb(127, 255, 133);
  justify-content: space-between;
  align-items: center;
}
/* LEFT FOOTER */
.left-f{
  width: 20%;
  padding-left: 10px;
  align-items: center;
}
.left-f > *:not(:first-child){
  padding: 0 5px;
}
.left-f .img-box-f{
  width: 50px;
  height: 50px;
}
.left-f img{
  width: 50px;
  height: 50px;
}

/* MIDDLE FOOTER */
.middle-f{
  width: 60%;
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.player i{
  padding: 0 10px;
}
.length-player{
  width: 70%;
  justify-content: center;
} 
.length-player span{
  padding: 0 15px;
}
.time-bar{
  align-self: center;
  height: 5px;
  width: 430px;
  background-color: darkgray;
}

/* RIGHT FOOTER */
.right-f{
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  padding-right: 10px;
}
.right-f *{
  padding-right: 10px;
}

.volume-bar{
  height: 5px;
  width: 120px;
  background-color: darkgray;
  
}