*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* utilities */
.d-flex{
  display: flex;
}

/* debug */
.debug{
  /* debug */
  background-color: rgba(127, 255, 212, 0.411);
}

/* header */
header{
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: 100%;
  /* debug */
  background-color: rgba(242, 255, 127, 0.411);
}

/* main */
main{
  height: calc(100vh - 90px);
  /* debug */
  background-color: rgba(193, 127, 255, 0.411);
}
.right-menu{
  padding-top: 100px;
  width: 80%;
  /* debug */
  background-color: rgba(255, 127, 127, 0.411);
}
.left-menu{
  padding-top: 100px;
  width: 20%;
  /* debug */
  background-color: rgba(0, 0, 0, 0.411);
}

/* footer */

footer{
  height: 90px;
  /* debug */
  background-color: rgba(127, 255, 133, 0.411);
}

